@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);

.titulo {
  text-align: center;
  font-family: 'Pokemon';
  font-weight: lighter;
  background-color: #77a923;
  margin: 0px;
  padding-bottom: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 7.5rem;
  border-radius: 0.5rem;
  background-color: white;
  border: 0.1875rem solid blue;
}
.card:hover {
  box-shadow: 3px 3px 3px 3px #ccff00;
  transform: scale(1.03);
  transition: box-shadow 0.2s;
}

#enabled {
  background-color: #ccff00;
}

.container {
  margin: 0px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #77a923;
}

.name {
  display: block;
  margin: 0;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  font-family: 'Pokemon';
  text-transform: capitalize;
}
.logo {
  display: flex;
  justify-content: center;
  background-image: url(../images/grass.jpg);
  background-position: 0%;
}
.hola {
  width: 600px;
}
ul {
  list-style: none;
}
